<div id="<%= dom_id student %>">
  
  <p>
    Id:
    <%= student.id %>
  </p>
  #creating field ID

  <p>
    <strong>Name:</strong>
    <%= student.name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= student.age %>
  </p>

  <p>
    <strong>Year:</strong>
    <%= student.year %>
  </p>

</div>